body {
    background-color: rgb(231, 232, 228);
}

.title {
    text-align: center;
    font-size: 34px;

}

.threadWrapper {
    background-color: #f3eded;
    padding: 10px;
    max-width: 1300px;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 20px;
}

.childWrapper {
    padding: 10px;
    border: 1px solid black;
}

.threadTitle {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-left: 6px;
    height: 60px;
}

.threadTitle h1 {
    color: red;
    margin-left: 3px;
    font-size: 27px;
}

section {
    padding: 0 10px;
}

section .nameArea {
    display: flex;
    align-items: center;
}

section .userName {
    color: green;
    font-weight: 600;
    margin-top: 15px;
    margin-right: 10px;
    font-size: 18px;
}

section .comment {
margin-top: 0;
margin-left: 20px;
}

.summaryArea {
    margin-bottom: 20px;
}


.formWrapper {
    padding: 16px;
    margin-left: 20px;
}

.commentTextArea {
    margin-top: 10px;
    display: flex;
    flex-flow: column wrap;
}

.commentTextArea input {
    width: 500px;
}

.errorMessage {
    color: red;
    font-weight: 500;
}

/* 新規スレッド*/
.newThreadWrapper {
    background-color: #b3eeb3;
    padding: 10px;
    max-width: 1300px;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 20px;
}

.newChildThreadWrapper {
    text-align: center;
    padding: 10px;
    border: 1px sold black;
}

.newChildThreadWrapper button a {
    width: 150px;
    color: black;
    text-decoration: none;
    
}